*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body

{
    height: 100vh;
    background-color: gray;
}

header 

{
    width: 100%;
    min-width: 100vh;
    background-color: black;
    color: white;
}

nav 

{
    background-color: black;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo 

{
    width: 100px;
    padding-left:150;
    border-radius: 100%;
}

nav h2 {
        padding-left: 50px;
}

nav ul 

{
    width: 100%;
    text-align: right;
}

nav ul li 

{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a 

{
    color: white;
    text-decoration: none;

}

.main-page {
    margin: 50px 50px;
    display: inline-flex;
}

.movie-details {
    margin: 20px 50px;
    display: inline-block;
}

.movie-details h3 {
    color: white;
    font-size: 20px;
    padding-top: 10px;
}

.movie-details h3 a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 5px;
    border-radius: 15px;
}

.SA {
    margin: auto;
    padding: auto;
    background-color: white;
    align-items: center;
}

.SA h1 {
    padding-left: 850px;
}

.sa-main {
    padding: 50px 50px;
    padding-right: 100%;
    align-items: center;
    display: inline-flex;
    margin-bottom: 50px;
    background-color: white;
}

.SA h2 {
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.sa-1 {
    display: flex;
    padding-left: 15px;
    border: 5px solid transparent;
    align-items: center;
    text-align: center;
}

.sa-1 a {
    text-decoration: none;
}